* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%vh;
    background-blend-mode: darken;
    background: 0, 0, 0, 0.2;


}

.names {
    display: flex;
    /* justify-content:space-around; */
    margin-top: 2em;
}


.we {
    color: rgb(0, 162, 255);
}

.we span {
    color: coral;
}

.head {
    margin-top: 3em;
    margin-left: 15em;
    font-size: 1.5em;
}

.baraka {
    margin-top: 4em;
    margin-left: 3em;
}

.red {
    color: rgb(0, 162, 255);
    font-size: 2em
}

.red span {
    color: coral;
}

.pin {
    font-size: 1.5em;
}

.he {

    color: rgb(0, 162, 255);
}

#n1 {
    font-size: 1.5em;
    color: black;
    margin-right: 2.5em;
}

.it {
    color: rgb(0, 162, 255);
}

#n2 {
    font-size: 1.5em;
    color: black;
    margin-right: 2.5em;
}

#form {
    background-image: url("/images/ghans.jpeg");
    display: flex;
    flex-direction: column;
    width: 35em;
    margin-left: 2em;
    margin-top: 4em;
    font-size: 2em;
    border-radius: 15px;
    text-align: left;
}

legend {
    /* color: rgb(0, 162, 255); */
    color: white;
    text-align: center;
    font-size: 1em;
}

#month {
    margin-top: 5%;

}

#date {
    margin-top: 5%;
}

#bu {
    margin-top: 4%;
}

.select {
    display: flex;
    flex-direction: column;
}

/* #yu{
    display: flex;
    flex-direction: row;
} */